            html {
            	overflow-x: hidden;
            }
			.no-js #loader {
            	display: none;
            }
            .js #loader {
            	display: block;
            	position: absolute;
            	left: 100px;
            	top: 0;
            }
            .se-pre-con {
            	position: fixed;
            	width: 100%;
            	height: 100%;
            	z-index: 9999;
            	background: url("../HTML files/Preloader_3.gif") center no-repeat #fff;
            	background-color: mediumturquoise;
            }
			#aboutme {
            	background: url("../Backgrounds/MINIM.jpg") no-repeat ;
            	-webkit-background-size: cover;
            	-moz-background-size: cover;
            	-o-background-size: cover;
            	background-size: cover;
            	background-attachment: scroll;

            }

            .row {
            	display: -ms-flexbox;
            	/* IE10 */
            	display: flex;
            	-ms-flex-wrap: wrap;
            	/* IE10 */
            	flex-wrap: wrap;
            	padding: 0 4px;
            	flex-direction: row;
            }
            .column {
            	-ms-flex: 25%;
            	/* IE10 */
            	flex: 25%;
            	max-width: 25%;
            	padding: 0 4px;
            	flex-direction: column;
            }
            .column img {
            	margin-top: 8px;
            	vertical-align: top;
            }
            @media screen and (max-width: 800px) {
            	.column {
            		-ms-flex: 50%;
            		flex: 50%;
            		max-width: 50%;
            	}
            }
            @media screen and (max-width: 600px) {
            	.column {
            		-ms-flex: 100%;
            		flex: 100%;
            		max-width: 100%;
            	}
            }
            .mySlides {
            	display: none;
            }
            .slideshow-container {
            	max-width: 1000px;
            	position: relative;
            	margin: auto;
            }
			 .text {
            	color: #f2f2f2;
            	font-size: 15px;
            	padding: 8px 12px;
            	position: absolute;
            	bottom: 8px;
            	width: 100%;
            	text-align: center;
            }
            .numbertext {
            	color: #f2f2f2;
            	font-size: 12px;
            	padding: 8px 12px;
            	position: absolute;
            	top: 0;
            }
            .dot {
            	height: 15px;
            	width: 15px;
            	margin: 0 2px;
            	background-color: #bbb;
            	border-radius: 50%;
            	display: inline-block;
            	transition: background-color 0.6s ease;
            }
            .active {
            	background-color: #717171;
            }
            .fade {
            	-webkit-animation: fade;
            	-webkit-animation-duration: 4s;
            	animation-name: fade;
            	animation-duration: 4s;
            }
            @-webkit-keyframes fade {
            	from {
            		opacity: .4
            	}
            	to {
            		opacity: 1
            	}
            }
            @keyframes fade {
            	from {
            		opacity: .4
            	}
            	to {
            		opacity: 1
            	}
            }
            @media only screen and (max-width: 300px) {
            	.text {
            		font-size: 11px;
            	}
            }
            @media screen and (max-width: 650px) {
            	.Template {
            		background-image: url("../Backgrounds/C6.png");
					background-repeat:no-repeat;
					background-size:cover;
					background-position:center;
            		text-align: center;
					height:auto;
					-webkit-background-size:cover;
					-moz-background-size:cover;
					-o-background-size:cover;
				}
				#Quote {
					font-size: 10vw;
					font-family: Algerian, serif;
					color: floralwhite;
				}
				.welcome{
					border: 3px solid #05ffa0;
					border-radius:20px;
					background: #d9405d;
					padding:20px;
					text-align: center;
					margin-left:10%;
					width:80%;
					font-size: medium;
					color:white;
				}
				.Mypic {
					height: 80%;
					width: 80%;
					padding: 5%;
					margin-left: 8vw;
					margin-bottom: 3%;
           		 }
				#fb {
					height: 40px;
					width: 40px;
					margin-right: 1vw;
					margin-top: 10vw;
					margin-bottom: 3vw;
				}
				#data {
					background-color: #333;
					color: floralwhite;
					font-size: 5vw;
					font-family: monospace;
					margin-top: 4vw;
					text-align: center;
				}

            }
            @media only screen and (min-width: 650px) {
            	.Template {
            		background-size: 100%;
            		background-image: url("../Backgrounds/BG9.jpg") ;
            		max-width: fit-content;
            		height: fit-content;
            		background-attachment: fixed;
            		text-align: center;
            	}
				#Quote {
            		font-size: 5vw;
            		font-family: Tertre, serif;
            		color: floralwhite;
            		text-align: center;
                }
				.welcome{
					border: 3px solid #eeff76;
					border-radius:20px;
					background: #d9405d;
					text-align:center;
					padding:20px;
					margin-left:10%;
					width:80%;
					color:white;
				}
				.Mypic {
					height: 80%;
					width: 80%;
					padding: 5%;
					margin-left: 2vw;
					margin-bottom: 3%;
           		 }
				#fb {
					height: 40px;
					width: 40px;
					float: right;
					margin-right: 1vw;
					margin-top: 15vw;
					margin-bottom: 3vw;
				}
				#data {
					background-color: #333;
					color: floralwhite;
					font-family: monospace;
					margin-top: 4vw;
					text-align: center;
				}
            }
