html {
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #5c32cf; 
}
 /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(177, 69, 69); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(218, 19, 19);
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color:  rgb(76, 76, 167);
    color: #dacfaa;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
}

#back2Top:hover {
    background-color:#339985;
    color: rgb(122, 38, 38);
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../Preloader_3.gif") center no-repeat #48d1cc;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.active {
    background-color: #717171;
}

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px;
    }
}

@media screen and (max-width: 650px) {
    .Template {
        background-image: url("../Backgrounds/B.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
        background-position: center;
        text-align: center;
        height: 100%;
        width: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
    #Quote {
        font-size: 10vw;
        font-family: Algerian, serif;
        color: floralwhite;
    }
    .welcome {
        border: 3px solid #00ffa9;
        border-radius: 20px;
        background: #386996;
        padding: 20px;
        text-align: center;
        margin-left: 10%;
        width: 80%;
        font-size: medium;
        color: white;
        margin-top: 20%;
    }
    .Bg {
        background: url("../Backgrounds/A3.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        text-align: center;
        margin: auto;
        padding: 0;
        height: 100%;
        width: 100%;
        background-attachment: fixed;
    }
    .numbertext {
        color: #0b0f0f;
        font-size: 10px;
        font-weight: bolder;
        padding: 8px 12px;
        position: absolute;
        margin-left: 2%;
        top: 0;
    }
    #aboutme {
        background: url("../Backgrounds/M1.jpg") no-repeat;
        text-align: justify;
        background-size: cover;
        margin-left: 12%;
        width: 75%;
        height: fit-content;
        background-attachment: fixed;
    }
    #cvheading {
        margin-left: 2%;
        font-family: Algerian, sans-serif;
        color: floralwhite;
    }
    #dquotn {
        font-size: 6vw;
        color: floralwhite;
    }
    #cv {
        font-family: Cursive, serif;
        font-size: 15px;
        color: #fffdf5;
    }
    .Mypic {
        height: 80%;
        width: 100%;
        padding: 2%;
        margin-bottom: 3%;
    }
    #data {
        background-color: #333;
        color: floralwhite;
        font-size: 5vw;
        font-family: monospace;
        margin-top: 4vw;
        text-align: center;
    }
    .borderMargin  {
        padding: 6%;
        margin-left: 6% !important;
        margin-bottom: 2vw;
        background-color: rgb(220, 224, 195);
        border: 5px solid #000000dc;
        border-radius: 5px;
    }
    .borderMargin:hover  {
        padding: 6%;
        margin-left: 6% !important;
        margin-bottom: 2vw;
        background-color: rgb(0, 0, 0);
    }
    .radial {
        margin-left:22% ;
        width: 80%;
    }
}

@media only screen and (min-width: 650px) {
    .Template {
        background: url("../Backgrounds/BG9.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        text-align: center;
        margin: auto;
        padding: 0;
        max-width: fit-content;
        height: auto;
        width: 100%;
        background-attachment: fixed;
    }
    #Quote {
        font-size: 5vw;
        font-family: Tertre, serif;
        color: floralwhite;
        text-align: center;
    }
    .welcome {
        border: 3px solid #daff5c;
        border-radius: 20px;
        background: #386996;
        text-align: center;
        padding: 20px;
        margin-left: 10%;
        width: 80%;
        margin-top: 10%;
        color: white;
    }
    #aboutme {
        background: url("../Backgrounds/M1.jpg");
        text-align: center;
        margin-left: 12%;
        width: 75%;
        background-attachment: fixed;
    }
    .numbertext {
        color: #0b0f0f;
        font-size: 15px;
        font-weight: bolder;
        padding: 8px 12px;
        margin-left: 2%;
        position: absolute;
        top: 0;
    }
    #cvheading {
        margin-left: 2%;
        font-family: Algerian, sans-serif;
        color: floralwhite;
    }
    #dquotn {
        font-size: 8vw;
        color: floralwhite;
    }
    #cv {
        font-family: Cursive, serif;
        font-size: 18px;
        color: floralwhite;
    }
    .Bg {
        background: url("../Backgrounds/A3.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        text-align: center;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        background-attachment: fixed;
    }
    .Mypic {
        height: 98%;
        width: 80%;
        padding: 5%;
        margin-left: 2vw;
        margin-bottom: 1%;
    }
    #data {
        background-color: #333;
        color: floralwhite;
        font-family: monospace;
        margin-top: 4vw;
        text-align: center;
    }
    .borderMargin  {
        padding: 6%;
        margin-left: 6% !important;
        margin-bottom: 2vw;
        height:250px;
        background-color: rgb(220, 224, 195);
        border: 5px solid #000000dc;
        border-radius: 5px;
    }
     .borderMargin:hover  {
        padding: 3%;
        margin-bottom: 2vw;
        background-color: rgb(0, 0, 0);
    }
    .radial {
        margin: 2%;
        width: 100%;
    }
}

header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    height: 100vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 100px;
    perspective: 100px;
}

header:before {
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    -webkit-animation: fade-slide-down 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
    animation: fade-slide-down 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("../Backgrounds/background.jpg") no-repeat bottom;
    background-attachment: fixed;
    background-size: cover;
}

header:after {
    background: #F9FCFF fixed;
    content: "";
    height: 40rem;
    left: -5%;
    position: absolute;
    right: -5%;
    top: 97%;
    -webkit-transform: rotateZ(-4deg);
    transform: rotateZ(-4deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    z-index: 0;
}

.header-title {
    color: #fff;
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

.header-down-arrow {
    -webkit-animation: pulse 2s 3s linear infinite;
    animation: pulse 2s 3s linear infinite;
    bottom: 2vh;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 10;
}

.header-down-arrow img {
    -webkit-animation: fade-slide-up 1s 1s linear forwards;
    animation: fade-slide-up 1s 1s linear forwards;
    opacity: 0;
}

@-webkit-keyframes fade-slide-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-4rem);
        transform: translateY(-4rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fade-slide-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-4rem);
        transform: translateY(-4rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fade-slide-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(4rem);
        transform: translateY(4rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fade-slide-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(4rem);
        transform: translateY(4rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes pulse {
    0% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
    50% {
        opacity: .8;
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
    50% {
        opacity: .8;
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

a i {
    color: #aaa6a0;
    text-align: center;
}

a i:hover {
    color: #fffcec;
}

form {
    width: 60%;
    display: block;
    margin: 4% auto 2% auto;
    font-size: x-large;
}

.form-control,
.btn {
    margin-top: 4%;
    resize: none;
    box-shadow: 0 0 2px;
    background-color: #f5f5f5;
    font-family: 'Cabin', sans-serif;
}

.btn {
    display: block;
    margin: 4% auto 0 auto;
    width: auto;
    box-shadow: 0 0 10px 0.5px #74b9ed;
    background-color: #0337ed;
    transition: all 0.2s linear;
}

label {
    font-family: "Comic Sans MS";
    padding-top: 5%;
    color: #dcf663;
}

.skills .underline {
    margin-bottom: 4%
}

.skills-div {
    height: 18px;
    border-radius: 3px;
    opacity: 0.9;

}

.skills-div span {
    color: aliceblue;
    text-transform: uppercase;
    font-size: medium;
    font-family: Cabin, 'sans-serif';
}

.upper-div {
    width: 70%;
    display: block;
    margin: 0 auto;
    background-color: whitesmoke;
    border-radius: 3px;
    height: 18px;
    margin-top: 1.9%;
    box-shadow: 0 0 2px 1px cornflowerblue;
}

.item img {
    max-height: 650px !important;
}

input::placeholder {
    font-family: 'Cabin', sans-serif;
    font-size: medium;
    text-transform: capitalize;
}

input:hover {
    border: 3px solid #554f74;
    background-color: #b6cbe6;
    width: 100%;
}
a li:hover {
    background-color: #333;
}

body {
    background: #34495e;
    color: #ecf0f1;
    margin: 0;
    padding: 0;
}

.banner {
    display: block;
    min-height: 200px;
    width: 100%;
    position: relative;
}
.typed_wrap {
    display: block;
    border: 4px solid #ecf0f1;
    width: 100%;
    height: auto;
    padding: 30px;

    /*centers it in the .banner*/
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.typed_wrap h1 {
    display: inline;
}

/*Add custom cursor so it auto inherits font styles*/
.typed::after {
    content: '|';
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{
    opacity: 0;
    display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

div > strong {
    color: rgba(211, 23, 23, 0.808);
}

.typewriter h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(255, 238, 0); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .5s  infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 70% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(193, 196, 37) }
  }